body{
    background-color: #DBE4EE;
}

p{
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.skip a{
    background-color: #81A4CD;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
    color: #001233;
}

.skip a:focus{
    position: absolute;
    top: 0%;
  }

header{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #DBE4EE;
    border-bottom: 5px solid #81A4CD;
}

nav ul{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

nav li a{
    margin-left: 10px;
    text-decoration: none;
    color:#054A91;
    font-weight: bold;
    font-size: 17px;
}

.nav li a:hover{
    color: #F17300;
    text-decoration: none;
    font-size: 25px;
}

.nav li a:focus{
    color: #F17300;
    text-decoration: none;
}

.nav li a:visited{
    color:#054A91;
}

.current{
    font-size:25px;
    color:#054A91;
    text-decoration:underline;
    text-decoration-color: #F17300;
}

h1{
    font-size:45px;
    color: #054A91;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color:#F17300;
}

h2{
    font-size:30px;
    color:#054A91;
    text-align: center;
    padding-top: 5px;
}

h3{
    font-size:25px;
    color:#054A91;
    text-align: center;
    padding: 8px;
}

img.team-pic{
    border: 2px solid #054A91;
    border-radius: 20px;
    margin-top: 10px;
    max-height:300px;
    max-width:400px;
}

.team-pic-div{ 
     text-align: center; 
 } 

.team-outlook{
    padding-top: 10px; 
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.team-outlook:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 10px double #F17300; /* This creates the border. Replace black with whatever color you want. */
}

footer{
    background-color:#054A91;
    color:#DBE4EE;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.player-pic-div{
    text-align: center;
}

img.player-pic{
    border: 2px solid #054A91;
    border-radius: 20px;
    margin-top: 10px;
    height:175px;
    width:175px;   
}

.player-text{
    padding-top: 10px; 
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.player-text:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 3px dashed #81A4CD; /* This creates the border. Replace black with whatever color you want. */
}

.description{
    padding-top: 10px; 
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.description:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 10px double #F17300; /* This creates the border. Replace black with whatever color you want. */
}

a.game-link{
    text-decoration: none;
    color: #054A91;
    font-size: 20px;
}

a:hover, a:focus{
    font-size: 20px;
    color:#F17300;
    text-decoration: underline;
}
.container2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, auto);
    grid-row-gap: 20px; 
}

.knicks-stadium{
    grid-column: 1;
    grid-row: 1;
}

#msg-pic{
    grid-row:2
}

.msg-stats{
    grid-row:3
}

#msg-text{
    grid-row: 4
}

.giants-stadium{
    grid-column: 1;
    grid-row: 5
}

#metlife-pic{
    grid-row:6
}

.metlife-sats{
    grid-row:7
}

#metlife-text{
    grid-row:8
}

.isles-stadium{
    grid-column: 1;
    grid-row: 9;
}

#ubs-pic{
    grid-row: 10
}

.ubs-stats{
    grid-row:11
}

#ubs-text{
    grid-row:12
}

ul.stadium-list{
    list-style: square inside;
    text-align: center;
    display: block;
}

.stadium-list:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 90%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 3px dashed #81A4CD;
}

.stadium_text{
    padding-top: 10px; 
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.stadium-text:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 90%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 10px double #F17300; /* This creates the border. Replace black with whatever color you want. */
}

img.stadium-pic{
    border: 2px solid #054A91;
    border-radius: 20px;
    margin-top: 10px;
    height:250px;
    width:400px;   
}

.stadium-pic-div{
    text-align:center;
}

@media screen and (min-width: 750px){
    .container2{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(9, auto);
    }

    .knicks-stadium{
        grid-column: 1/3;
        grid-row: 1;
    }
    
    #msg-pic{
        grid-column: 1;
        grid-row:2
    }
    
    .msg-stats{
        grid-column: 2;
        grid-row:2
    }
    
    #msg-text{
        grid-column: 1/3;
        grid-row: 3
    }
    
    .giants-stadium{
        grid-column: 1/3;
        grid-row: 4
    }
    
    #metlife-pic{
        grid-column: 1;
        grid-row:5
    }
    
    .metlife-sats{
        grid-column: 2;
        grid-row:5
    }
    
    #metlife-text{
        grid-column: 1/3;
        grid-row:6
    }
    
    .isles-stadium{
        grid-column: 1/3;
        grid-row: 7;
    }
    
    #ubs-pic{
        grid-column: 1;
        grid-row: 8
    }
    
    .ubs-stats{
        grid-column: 2;
        grid-row:8
    }
    
    #ubs-text{
        grid-column:1/3;
        grid-row:9;
    }

    .stadium-list{
        text-align: left;
    }
    
    .stadium-list li{
        padding-top: 20px;
        font-size: 20px;
        text-align: left;
        margin-left: 130px;
    }

    h2{
        font-size:35px;
    }

    h3{
        font-size:30px;
    }

    p{
        font-size: 20px;
    }

    .container3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

    }

    #knicks-players{ 
        display: flex; 
        justify-content: center; 
        align-items: baseline;
     } 

    #giants-players{ 
        display: flex; 
        justify-content: center;
        align-items: baseline;
     } 

    #isles-players{ 
        display: flex; 
        justify-content: center;
        align-items: baseline;
     }
    
    .player{
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .player-text:after {
        border-bottom: none; /* This creates the border. Replace black with whatever color you want. */
    }

    .team-players{
        content: ""; /* This is necessary for the pseudo element to work. */ 
        display: block; /* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 90%; /* Change this to whatever width you want. */
        padding-top: 20px; /* This creates some space between the element and the border. */
        border-bottom: 10px double #F17300; /* This creates the border. Replace black with whatever color you want. */ 
    }

    footer p{
        font-size: 100%;
    }

    header{
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }

    nav li a{
        font-size: 20px;
    }

    .current{
        font-size:28px;
    }

    a.game-link{
        font-size: 23px;
    }
    
    a:hover, a:focus{
        font-size: 23px;
    }

}